.cards {
    margin: 16px auto;
    padding: 13px;
    border-radius: 10px;
    /* color: var(--text-color); */
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* box-shadow: var(--card-shadow); */
    max-width: 500px;
    width: 95%;
}

.despesas {
    /* background: linear-gradient(180deg, #091F3F 0.21%, #527895 159.27%); */
    /* background: linear-gradient(180deg, #091F3F 0.21%, #527895 159.27%); */
    background: var(--background-header);
}

.receita {
    background-color: var(--background-header);
}

.investimento {
    background-color: var(--background-header);
}

.card-first-line {
    display: flex;
    justify-content: space-between;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 500;
}

.card-filter {
    font-size: 0.70rem;
    font-weight: 400;
    background: var(--background-color);
    backdrop-filter: var(--backdrop-filter1);
    border-radius: 30px;
    padding: 8px 12px;
    text-transform: capitalize;
}

.card-second-line {
    display: flex;
    gap: 15px;
    align-items: center;
}

.card-principal {
    font-size: 2rem;
    font-weight: 600;
}

.card-second-line-sub {
    display: flex;
    margin: -5px 0;
    gap: 15px;
    align-items: center;
}

.valor-variacao {
    font-size: 0.70rem;
    backdrop-filter: var(--backdrop-filter1);
    padding: 5px 8px;
    border-radius: 30px;
}

.card-third-line {
    display: flex;
    justify-content: space-evenly;
}

.card-third-line-alternative {
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

.card-botao {
    background: transparent;
    border: none;
    /* color: var(--text-color); */
}

.adicionar {
    backdrop-filter: var(--backdrop-filter1);
    padding: .8rem 1.2rem;
    border-radius: 30px;
}

.mais {
    background: var(--background-color);
    backdrop-filter: var(--backdrop-filter1);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    font-size: 1rem;
}

.mes1 {
    text-transform: uppercase;
    font-size: .70rem;
    opacity: .5;
}

.mes2 {
    text-transform: uppercase;
    font-size: .90rem;
    font-weight: 600;
}

.mes3 {
    text-transform: uppercase;
    font-size: .70rem;
    opacity: .5;
}

.negativa {
    background: var(--background-red);
}

.positiva {
    background: var(--background-green);
}

.previsao {
    background: var(--background-yellow);
}

.especial {
    background: transparent;
    border: 1px solid #091F3F;
    backdrop-filter: var(--backdrop-filter1);
}

@media (min-width: 992px) {
    .cards {
        margin: 0;
    }
}