.header {
    height: 50px;
    background-color: var(--background-header);
    border-radius: 10px;
    margin: 16px;
    padding: 0 8px;
    display: flex;
    align-items: center;
}

.header-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-btn-mobile {
    /* background: transparent; */
    border: none;
    background-color: var(--background-color);
    border-radius: 50%;
    font-size: 23px;
    /* border: 5px solid var(--background-color); */
    cursor: pointer;
}

.menu-bars {
    padding: 5px;
}

.header-greetings {
    padding: 0 10px;
}

.profile-photo {
    margin-left: auto;
}
